html {
	font-size: 62.5%;
	font-family: "Open Sans", sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	min-height: 100vh;
	background-color: #f1f5f8;

	h1 {
		margin-top: 150px;
		font-family: "Great Vibes", cursive;
		font-size: 5rem;
		text-align: center;
		letter-spacing: 5px;
		color: #c59d5f;
	}
}

.question-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	max-width: 570px;
	height: fit-content;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px rgba(201, 201, 201, 0.75);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(201, 201, 201, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(201, 201, 201, 0.75);

	div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	h2 {
		margin: 0px;
		font-size: 1.6rem;
		font-weight: 500;
		letter-spacing: 0.3rem;
		color: #102a42;
	}
}

.toggle-answer-button {
	padding: 0px 1px;
	background-color: white;
	border: 3px solid #c59d5f;
	border-radius: 2px;
	color: #c59d5f;
	font-family: "Material Icons";
	font-weight: 700;
	font-size: 1.6rem;
	transition: transform 0.5s ease;
	cursor: pointer;

	&:hover {
		transform: rotate(90deg);
	}
}

.question-answer {
	display: none;
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	color: #617d98;
	margin: 20px 0px 0px 0px;
	padding-top: 20px;
	border-top: 1px solid #cccccc;
}

.show-answer .question-answer {
	display: inline;
}
